
#conteudo {
  display:table;
  width:100%;
}
#boxForm {
  float:left;
  margin-left:45px;
  margin-top:30px;
  padding:5px 5px 0;
  width:93%;
}
.linha{
    padding-bottom:10px;
}
.ui-corner-right{
    height: 18px;
    margin-bottom: 3px;
}